 body{
    background-color: black;
 }


@font-face{
    font-family: "LaxnessOblique";
    src: url("font/LaxnessOblique.ttf");
}

@font-face{
    font-family: "FuturaBoldOblique";
    src: url("font/FuturaBoldOblique.otf");
}

h1{
    border:2px solid white;
    background-color: white;
    color:black;
    display: inline-block;
    font-family: "FuturaBoldOblique";
    font-size: 3em;
    margin: 0.5em auto auto 0.5em;
}

input{
    font-family: "FuturaBoldOblique";
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
    height: 60px;
    font-size: 2em;
}

button{
    font-family: "FuturaBoldOblique";
    display: block;
    margin: 2.5em auto 2.5em auto;
}
.container{
    max-width: 1220px;
}

.row{
margin-bottom: 2em;
}

.col{
    border: 2px solid white;
    border-bottom: none;
    max-width: 214px;
    margin-right: 15px;
    margin-left: 15px;
    padding:0;
}

p{
    margin-bottom: 0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    color: white;
    font-family: "FuturaBoldOblique";
    font-size: 1em;
    padding: auto 0 auto 0;
}

.year{
    margin-top: 5px;
    color: grey;
    border-top: none;
    border-bottom: none;
}

h3{
    font-family: 'Nanum Pen Script', cursive;
    color: #f0ad4e;
    margin-left: 1em;
    margin-bottom: 2em;
    /* display: inline-block; per farlo andare accanto al titolo*/

}
.greet{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 2.7em;
    color: #f0ad4e;
    margin-left: 1em;
    margin-bottom: 1.5em;
}

.nome{
    height: 3em;
    padding: auto 0 auto 0;
}